@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://linusg.github.io/serenityos-emoji-font/SerenityOS-Emoji.css');

body {
    margin: 0;
    background-color: black;
}
.title-bar {
    border-bottom: 1px;
    border-color: #333;
    border-bottom-style: solid;
    width: 98.5%;
    height: 4vh;
    padding: 2.5vh;
    font-size: 3vh;
    background-color: black;
    color: white;
    display: flex;
}

.ibm-plex-sans-font {
    font-family: "IBM Plex Sans", "SerenityOS Emoji", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    color: white;
    padding: 24px;
    font-size: 24px;
    min-height: 70vh;
    width: 98.5%;
}

.nanoblogs-container {
    color: white;
    font-size: 24px;
    min-height: 70vh;
    width: 98.5%;
}

.link {
    color: white;
}

.link-active {
    margin-left: 8px;
}

.link-active a {
    color: white;
    text-decoration: none;
}

.link-inactive {
    margin-left: 8px;
}

.link-inactive a {
    color: white;
}

.nanoblog-post {
    border-bottom-width: 1px;
    border-bottom-color: #333;
    border-bottom-style: solid;
    width: 90%;
    height: 10%;
    padding: 16px;
    display: flex;
}

.footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #333;
    color: white;
    padding: 16px;
    background-color: black;
}

.social-media-icons {
    margin-left: 12px;
}

.social-media-icons-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.nanoblog-post-username, .nanoblog-post-time {
    color: #999;
}

.nanoblog-post-profile-picture {
    margin-right: 16px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #333;
}